set(PLUGIN_USERPLUGIN_AUTOSTART true CACHE BOOL "Automatically start UserPlugin plugin")

set (autostart ${PLUGIN_USERPLUGIN_AUTOSTART})

if(PLUGIN_USERPLUGIN_STARTUPORDER)
set (startuporder ${PLUGIN_USERPLUGIN_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_USERPLUGIN_MODE})
    end()
end()

ans(configuration)
